/Common/Debug/*.log
/Common/Debug/Common.tlog/*.tlog
/Common/Debug/Common.tlog/*.lastbuildstate
/Common/Debug/*.obj
/Common/Debug/*.idb
/Common/Debug/*.pdb
/Main/Debug/*.log
*.idb
*.lastbuildstate
*.tlog
*.ipch
*.sdf
*.opensdf
*.cache
*.pdb
*.obj
*.log
*.lib
*.exe
*.suo
*.ilk
